/*
 * Copyright (C) 2016-2022 Konstantin Polevik
 * All rights reserved
 *
 * This file is part of the CLapp. Redistribution and use in source and
 * binary forms, with or without modification, are permitted exclusively
 * under the terms of the MIT license. You should have received a copy of the
 * license with this file. If not, please visit:
 * https://github.com/out61h/clapp/blob/main/LICENSE.
 */
#include "clapp.h"

#include <WinRes.h>

CLAPP_ID_ICON           ICON        "clapp.ico"
CLAPP_ID_MANIFEST       MANIFEST    "manifest.xml"

#if !CLAPP_ENABLE_ARCHITECT_MODE

CLAPP_ID_OPENCL_PROGRAM FILE        "cl/program.i"

#endif

CLAPP_ID_DIALOG_SETTINGS DIALOGEX 0, 0, 240, 190
CAPTION "CLapp settings"
STYLE DS_CENTER | DS_MODALFRAME | WS_CAPTION | WS_POPUP
FONT 8, "MS Sans Serif" 
BEGIN
	CONTROL         0, CLAPP_ID_CONTROL_BANNER, "Static", SS_OWNERDRAW, 0, 0, 240, 60

    LTEXT           "OpenCL device:", IDC_STATIC, 8, 68, 108, 15
    COMBOBOX        CLAPP_ID_CONTROL_OPENCL_DEVICE,
                    124, 68, 108, 120, 
                    CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

    LTEXT           "Audio sample rate:", IDC_STATIC, 8, 87, 108, 15
    COMBOBOX        CLAPP_ID_CONTROL_AUDIO_RATE, 124, 87, 108, 120, 
                    CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL

    LTEXT           "Audio buffers count:", IDC_STATIC, 8, 106, 108, 15
    COMBOBOX        CLAPP_ID_CONTROL_AUDIO_BUFFERS, 124, 106, 108, 120, 
                    CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL    

    LTEXT           "Max audio latency:", IDC_STATIC, 8, 125, 108, 15
    RTEXT           "", CLAPP_ID_CONTROL_AUDIO_LATENCY, 124, 125, 108, 15

    LTEXT           "Video framerate:", IDC_STATIC, 8, 144, 108, 15
    RTEXT           "", CLAPP_ID_CONTROL_FRAMERATE, 124, 144, 108, 15

	DEFPUSHBUTTON   "Continue", IDOK, 8, 167, 108, 15
    PUSHBUTTON      "Close", IDCANCEL, 124, 167, 108, 15
END
