/*
 * Copyright (C) 2016-2022 Konstantin Polevik
 * All rights reserved
 *
 * This file is part of the CLapp. Redistribution and use in source and
 * binary forms, with or without modification, are permitted exclusively
 * under the terms of the MIT license. You should have received a copy of the
 * license with this file. If not, please visit:
 * https://github.com/out61h/clapp/blob/main/LICENSE.
 */
#include "clapp.h"

CLAPP_ID_ICON           ICON        "clapp.ico"
CLAPP_ID_MANIFEST       MANIFEST    "manifest.xml"

#if !CLAPP_ENABLE_ARCHITECT_MODE

CLAPP_ID_OPENCL_PROGRAM FILE        "cl/program.i"

#endif
